@import url("./reset.css");
@import url("./home.css");
@import url("./game_rule.css");
@import url("./game_start.css");
@import url("./setting.css");
@import url("./game_play.css");
@import url("./game_winlose.css");

* {
  /* box-sizing: border-box; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #202124;
  align-items: center;
}
canvas {
  background: #eee;
  display: block;
}
.gameView {
  width: 720px;
  height: 720px;
  display: flex;
  background-image: url("../img/backgrounds/background_maple_full2.png");
  position: absolute;
}
.hide {
  display: none;
}
